<h1>About LeadSnap</h1>

<p>&copy; 2016, <a href="mailto:caroline&#64;carolinecourtney.com">
Caroline Courtney</a>.</p>

<p>A simple lead management application, inspired by the author's
  datamonkeying in the 'phone mines' of a certain Unamed Arts Telemarketing
  Company in central Indiana.  Also, a Full Stack Web Development Ruby on
  Rails capstone project! But mainly, <em>so sick</em> of those D's and K's.
</p>

<h3>There's GOT to be a <em>better way!</em></h3>

<p>...and there is.  And here is it's 'about page'.
