<h1>About LeadSnap</h1>

<p>&copy; 2016, <a href="mailto:caroline&#64;carolinecourtney.com">
Caroline Courtney</a>.</p>

<p>A simple lead management application, inspired by the author's
  datamonkeying in the 'phone mines' of a certain Unamed Arts Telemarketing
  Company in central Indiana.  Also, a Full Stack Web Development Ruby on
  Rails capstone project! But mainly, <em>so sick</em> of those D's and K's.
</p>

<h3>There's GOT to be a <em>better way!</em></h3>

<p>...and there is.  And here is it's 'about page'.  Until robots learn
  how to do this job, here's some softwherez to make it relatively painless
  for humans.  No autodailers or extra crazy crap you don't need.  Just you
  and the leads.  Balls to the wall, fingers to the phone!  Plus, we still
  might save a tree or two, and some of the office management's collective
  sanity.  You don't want those guys going off.
</p>

<hr/>

<h3>Users and roles</h3>

<p>
  Start by registerring with your email and whatnot.  Please keep your own
  contact info current (via the
  '<%= link_to 'Edit profile', edit_user_registration_path %>' function)
  because we might occasionally make announcements based
  on your contact information and preferences.  Things like, "work cancelled
  tonight due to trumpocalypse", and the like.  And you'd hate to be the only
  fool waiting for the doors to open up after missing the message.
</p>

<p>
  After you are approved by an admin, you can log in and start accessing info.
  Here's what you can do, based on user role; if you can't do it, don't worry
  about it!
</p>

<div class="row">
  <div class="col-md-4">
    <h4>Standard</h4>
    <p>
      Pick a project, start dialing things.  Mark things as you go.
      You also have quick access to
      all your callbacks and can
      run thru those until they tell you to stop.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Manager</h4>
    <p>
      The exhaulted ranks of... getting to answer the phone.  So when people
      call back in, you can go search and find them.  Plus all the standard
      thingies.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Admin</h4>
    <p>
      Heavy is the head that wears the crown.  The admin is the 'man behind the
      curtain' so to speak, that puts all your leads in here!  Plus all the
      standard and manager stuff.
  </div>
</div>

<hr/>

<h3>Campaigns &amp; Leads</h3>

<p>
  Campaigns can be created/edited/deleted, and leads can be added, by exhaulted
  <strong>admin</strong> users.  Leads can be added and associated with a
  particular campaign, so that they can always be separated into different
  projects, and different source codes within that project.
</p>

<p>
  But lets say you're just a regular-joe user who wants to call some stuff;
  all you have to do is go to the
  <%= link_to "Campaigns", campaigns_path %> main menu, pick a project, and
  see a breakdown of what there is within that project to call.  Choose one,
  and the next lead is displayed.  Dial it, mark it if applicable,
  and then hit <strong>Next Lead</strong> in the lower-right for the next one.
  When you're done, stop.
</p>

<p>
  Leads are ordered (which one you get for 'next') by how un-recently they
  were dialed by default.  Something that has just been viewed and dialed will
  return to the bottom of the heap.  Certain actions will take the lead out of
  the stack for the foreseeable future:
</p>

<div class="row">
  <div class="col-md-4">
    <h4>Day</h4>
    <p>
      This lead's phone number is daytime-only, and will no longer show up in
      the stack of evening calls.  If someone wants to call during the day,
      they can access these specifically.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Disconnect</h4>
    <p>
      None of this lead's numbers work right.  Either they're disconnected, or
      they are the wrong person when you do reach someone.  A lead found to
      have no  valid phone information will not show up again.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Kill</h4>
    <p>
      Someone who is a valid lead with phone numbers and all that, but has
      asked to be removed.  Also anyone who has left the applicable area or
      died.
    </p>
  </div>
</div>

<hr/>

<h3>Prospects &amp; Callbacks</h3>
<p>
  We also have the ability to 'save' prospects, in the form of 'callbacks'.
  For those times when a sale absolutely, positively <em>cannot</em> be closed
  on the first contact, there is a mechanism for keeping notes and saving your
  own callbacks aside from the general leadbase.  They will stay that way  until
  the user gives them up, or they buy, or say no.
</p>

<h3>User Dashboard</h3>
<p>
  When in doubt, check out your user 'Home'.
   It contains all your callbacks, and a mechanism for setting and tracking your
   own goals.  In addition, there are 'manager' and 'admin' dashboards for all
   the cool extra stuff they can do.  But if you're a regular user, enjoy
   keeping it simple!
</p>

<hr/>

<h3>Leads</h3>

<p>
  The 'leads' you see in this staging site are generated by the
  <%= link_to "Faker Gem", "https://github.com/stympy/faker" %>, but the app was
   originally developed with uploading real databases of the various venues'
   customer bases.
</p>

<h4>Downloading Leads</h4>

<p>
  The leadbase can be downloaded in <code>.csv</code> format, either at the
  end of the campaign, or at anypoint along the way, to share with the venues
  which leads are disconnected or must be removed from the list.
</p>

<h4>Uploading Leads</h4>

<p>
  The leadbase can be uploaded in <code>.csv</code> format.  The important
  headers which will be used to poplulate the fields are:
</p>

<table class="lead-headers">
  <tr>
    <td>account</td><td>name1</td><td>name2</td><td>address1</td>
    <td>address2</td><td>city</td><td>state</td><td>zip</td>
    <td>phone1</td><td>phone2</td><td>phone3</td><td>source_code</td>
  </tr>
</table>

<p>
  The <code>campaign_id</code> is automatically added based off which
  <%= link_to "campaign page", campaigns_path %> you are uploading leads from.
</p>

<hr/>
