<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.nickname %> is approved for LeadSnap!</h1>
    <p>
      <%= link_to "Log in", root_url %>, and start dialin'!
    </p>
  </body>
</html>
