<div id="show-callback">
  <h3>New Callback:</h3>
  <%= form_for Callback.new do |f| %>
    <div class="form-group">
      <%= f.label :notes %>
      <%= f.text_area :notes %>
    </div>
    <div class="form-group">
      <%= f.submit "New Callback" %>
    </div>
  <% end %>
</div>
