<table class="lead-breakdown">
  <tr><th>Source</th><th># leads</th><th>x dialed</th></tr>
  <% sources(@campaign).each do |code| %>
    <tr>
      <td><%= link_to code, campaign_lead_path(@campaign, all_leads(@campaign, code).first) %>:</td>
      <td><%= amt_leads(@campaign, code) %></td>
      <td><%= all_leads(@campaign, code).average(:dial_count).floor %></td>
    </tr>
  <% end %>
</table>
