.phone-numbers td {
  font-size: 120%;
  //border-right: 1px solid #ccc;
  padding: 5px;
}

.phone-numbers thead {
  display: none;
}

.phone-numbers .btn {
  border: none;
  background: transparent;
  padding: 0;
  display: inline;
  padding: 1px;
  margin: 0 0 4px 0;
}

.phone-numbers form {
  display: inline;
  padding: 0;
  margin: 0;
}

.phone-numbers .glyphicon, .killed {
  padding: 5px;
  color: #900;
}

.disconnected-phone {
  text-decoration: line-through;
  color: #999;
}

.lead-contact {
  font-size: 150%;
}

.lead-contact p {
  margin: 5px;
}

.lead-title p {
  margin-top: 15px;
}

.status form {
  display: inline;
  padding: 5px;
}

.status h3 {
  margin-top: 0;
  padding-top: 0;
}

.unreached {
  color: #999;
}

.day_lead {
  color: #c90;
}

.sold {
  color: #9cc;
}

.no {
  color: #c99;
}

#show-callback {
  border: 1px solid #BBE4F2;
  background: #EBF2F5;
  padding: 10px;
}

#show-callback h3 {
  color: #69A2B5;
}

#show-callback .edit {
  border-left: 1px solid #BBE4F2;
}

#show-callback .btn {
  margin-right: 20px;
}

.saleform {
  display: block;
  padding: 10px 0;
  margin: 10px 0;
  border-top: 1px solid #ddd;
}
