.user-table {
  font-size: 150%;
  text-align: right;
}

.user-table td {
  padding: 10px;
  border-top: 1px solid #ccc;
}

.user-table .user-role {
  text-align: center;
  font-size: 60%;
  color: #999;
}

.user-callbacks .cb-remove {
  float: right;
}
